{% extends "base.html" %}
{% block content %}
    <h2 align="center">Welcome to the Star Wars Trivia Bot!</h2>
    <h3 align="center">Find all subcategories and instances a category has:</h3>
    <div class="row">
        <form action="/all_children" method="post" name="queryForm" class="form-horizontal" role="form">
        {{ form.hidden_tag() }}
        <div class="col-sm-12">
        <input type="text" name="query" class="query-box form-control" placeholder="Enter a category">
        </div>
    </div>
{% endblock %}
