{% extends "base.html" %}
{% block content %}
    <h2 align="center">Welcome to the Star Wars Trivia Bot!</h2>
    <h3 align="center">Run a simple SPARQL Query (use swdb, owl, rdfs):</h3>
    <h4 align="left">Examples:</h4>
    <ul>
        <li>
            <tt>
                SELECT ?title WHERE { ?subject rdfs:subClassOf swdb:Category_Governors_of_the_Galactic_Empire . ?subject owl:title ?title . }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { swdb:Han_Solo rdfs:subClassOf ?subject . ?subject owl:title ?title . }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { ?subject rdfs:subClassOf* swdb:Category_Individuals_by_family . ?subject owl:title ?title . }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { swdb:Leia_Organa rdfs:subClassOf* ?subject . ?subject owl:title ?title . }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { swdb:Luke_Skywalker rdfs:subClassOf* ?subject . swdb:Han_Solo rdfs:subClassOf* ?subject . ?subject owl:title ?title . }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { { ?subject rdfs:subClassOf* swdb:Category_Sith . ?subject owl:title ?title . } UNION { ?subject rdfs:subClassOf* swdb:Category_Royalty . ?subject owl:title ?title . } }
            </tt>
        </li>
        <li>
            <tt>
                SELECT ?title WHERE { ?subject rdfs:subClassOf* swdb:Category_Sith . ?subject rdfs:subClassOf* swdb:Category_Royalty . ?subject owl:title ?title . }
            </tt>
        </li>
    </ul>
    <h4 align="left">Some Notes:</h4>
    <ul>
        <li>A category 'First word from Proper Noun' will have capitalization as shown, 'Category ' prepended, and underscores for spaces.</li>
        <li>Instances have underscores for spaces.</li>
        <li>Unicode is rough.</li>
    </ul>
    <div class="row">
        <form action="/sparql" method="post" name="queryForm" class="form-horizontal" role="form">
        {{ form.hidden_tag() }}
        <div class="col-sm-12">
        <input type="text" name="query" class="query-box form-control" placeholder="Enter your SPARQL Query">
        </div>
    </div>
{% endblock %}
